* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: Neucha;
    font-size: 16px;
    background-color: #e6e1f3
}

main {
    padding-top: 100px;
}

.menu-list{
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.container {
    width: 1200px;
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7px;
    padding-right: 5px;
}

#header {
    background-color: #ccbfee;

    box-shadow: 0px 10px 7px #ccbfee;
    position: fixed;
    width: 100%;

}

#header .container {
    display: flex;
    align-items: center;


}
#header nav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#header .menu-list a {
    color: #35415e;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

#header .menu-list a:hover {
    color: #6d86bf;
}

 .logo {
    float: left;
    display: flex;
    align-items: center;
     width: 1100px;

}
 .logo img {
    width: 100px;
}


 .logo span {
    font-size: 40px;
    color: #35415e;
    margin-left: 8px;

}

.btn {
    padding: 8px 25px;
    border-radius: 8px;
    border: 1px solid #35415e;
    color: #35415e;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    border-color: #6d86bf;
    color: #6d86bf;
}

.btn-auth{
    float: right;

}

footer {
    background-color: #ccbfee;
    margin-top: 40px;
    box-shadow: 0 1px 8px 0 #475468;
}

.first-footer-block {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .footer-menu {
    list-style: none;
}

footer .footer-menu a {
    color: #475468;
    font-size: 16px;
    font-weight: bold;
}

footer .footer-menu a:hover {
    color: #05244b;
}

.last-footer-block {
    background-color #ccbfee;
    color: rgba(72, 58, 87, 0.78);
    padding-top: 8px;
    padding-bottom: 8px;
}

.last-footer-block span {
    cursor: default;
}

.last-footer-block ul {
    list-style: none;
    display: flex;
    float: right;
}

.last-footer-block ul li:first-child {
    margin-right: 20px;
}

.last-footer-block a:hover {
    color: #35415e;