* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 35px;
}

h2{
    font-size: 30px;
}

body {
    font-family: Neucha;
    font-size: 16px;
    background-color: #e6e1f3
}

main {
    padding-top: 100px;
}

.menu-list{
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.container {
    width: 1200px;
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7px;
    padding-right: 5px;
}

#header {
    background-color: #ccbfee;

    box-shadow: 0px 10px 7px #ccbfee;
    position: fixed;
    width: 100%;
    z-index: 1;

}

#header .container {
    display: flex;
    align-items: center;


}
#header nav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#header .menu-list a {
    color: #35415e;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

#header .menu-list a:hover {
    color: #6d86bf;
}

 .logo {
    float: left;
    display: flex;
    align-items: center;
     width: 1100px;

}
 .logo img {
    width: 100px;
}


 .logo span {
    font-size: 40px;
    color: #35415e;
    margin-left: 8px;

}

.btn {
    padding: 8px 25px;
    border-radius: 8px;
    border: 1px solid #35415e;
    color: #35415e;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    border-color: #6d86bf;
    color: #6d86bf;
}

.btn-auth{
    float: right;

}

footer {
    background-color: #ccbfee;
    margin-top: 40px;
    box-shadow: 0 1px 8px 0 #475468;
}

.first-footer-block {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .footer-menu {
    list-style: none;
}

footer .footer-menu a {
    color: #475468;
    font-size: 16px;
    font-weight: bold;
}

footer .footer-menu a:hover {
    color: #05244b;
}

.last-footer-block {
    background-color: #ccbfee;
    color: rgba(72, 58, 87, 0.78);
    padding-top: 8px;
    padding-bottom: 8px;
}

.last-footer-block span {
    cursor: default;
}

.last-footer-block ul {
    list-style: none;
    display: flex;
    float: right;
}

.last-footer-block ul li:first-child {
    margin-right: 20px;
}

.last-footer-block a:hover {
    color: #35415e;
}

.head-block {
    background-color: #e0daf1;
    background-image: url("../img/5.png");
    height: 428px;
    background-repeat: no-repeat;
    background-size: 53%;
    background-position:top 15% right;
    margin-bottom: 40px;
    box-shadow: 0px 10px 7px #e0daf1;

}
.head-block img {
    width: 469px;
    position: absolute;
    padding-left: 225px;
    opacity: 0.7;
}
.head-block h1 {
    padding-top: 160px;
}

.head-block p {
    font-size: 20px;
    margin-top: 14px;
}

.catalog-page h2 {
    color: #314768;
}

.filter-block {
    float: left;
    width: 265px;
    height: 300px;
    border: 1px solid#806c93;
    border-radius: 6px;
    margin-right: 20px;
    margin-top: 15px;
    padding: 10px 20px;
    color: #35415e;
}
.filter-block #filter-text {
    margin-bottom: 10px;
}

.filter-block .filter-item {
    margin-bottom: 10px;
}

.filter-block .filter-group {
    margin-top: 5px;
}

.filter-block .filter-buttons {
    text-align: center;
}

.filter-block .filter-button {
    color: #20113d;
    background-color: #ccbfee;
    opacity: 0.8;
    border-radius: 4px;
}

.filter-block .filter-button:hover {
    color: #20113d;
    background-color: #b5a1ea;
}

.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.checkbox label::before {
    content: '\00A0';
    color: #ccbfee;
    font-size: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #35415e;
    border-radius: 4px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox input:checked+label::before {
    content: "\2764";
    border-color: #35415e;
    background-color: #35415e;
}

.radio-toggle {
    display: inline-block;
    overflow: hidden;
}

.radio-toggle .radio {
    float: left;
    display: inline-block;
}

.radio-toggle input[type=radio] {
    display: none;
}

.radio-toggle label {
    display: inline-block;
    padding: 0 15px;
    line-height: 34px;
    border: 1px solid #ccbfee;
    cursor: pointer;
    user-select: none;
}

.radio-toggle .radio:first-child label {
    border-right: none;
    border-radius: 8px 0 0 8px;
}

.radio-toggle .radio:last-child label {
    border-radius: 0 8px 8px 0;
}

.radio-toggle input[type=radio]:checked + label {
    background: #ccbfee;
    color: #806c93;
}
.catalog-content{
    display: flex;
    flex-direction: column;

}

.card-block{

}

.card-item {
    border-radius: 6px;
    border: 1px solid #314768;
    padding: 20px;
    margin-top: 15px;
}

.card-item img {
    width: 250px;
    height: 200px;
    border-radius: 8px;
    margin-right: 10px;
}

.card-item .card-text-items {
    display: flex;
    flex-direction: column;
}

.card-item .card-text-items h3 {
    font-size: 20px;
}

.btn-card {
    border-color: #806c93;
    border: 1px solid #806c93;
    background-color: #ccbfee;
    border-radius: 6px;
    font-weight: normal;
    color: #35415e;
    float: right;
    margin-top: -8px;
}

.card-item .card-text-items p {
    color: #314768;
    font-size: 16px;
    max-height: 100px;
    overflow: hidden;
    margin-bottom: 28px;
}

.card-item .card-text-items .btn:hover {
    color: #806c93;
    background-color: #ccbfee;
}